In [1]:
import pandas as pd

In [2]:
##CARGAR LOS ARCHIVOS
juegos= pd.read_csv("Analítica de datos en las organizaciones/VGsales.csv")
juegos

,Rank,Nombre,Plataforma,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,90,Pac-Man,2600,1982.0,Puzzle,Atari,7.28,0.45,0.0,0.08,7.81
1,240,Pitfall!,2600,1981.0,Platform,Activision,4.21,0.24,0.0,0.05,4.50
2,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
3,545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
4,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.0,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16593,16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.0,0.00,0.01
16594,16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.0,0.00,0.01
16595,16565,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.0,0.00,0.01
16596,16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.0,0.00,0.01
16597,16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.0,0.00,0.01

In [15]:
##CONTAR POR GRUPOS CUANTOS JUEGOS SON DE PLATAFORMA Y GENERO UNICAMENTE LOS DE ACCION Y AVENTURA

juegosAyA= juegos[((juegos["Genre"]=="Adventure") | (juegos["Genre"]=="Action"))]
juegosAyA

,Rank,Nombre,Plataforma,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5,736,Frogger,2600,1981.0,Action,Parker Bros.,2.06,0.12,0.0,0.02,2.20
7,866,E.T.: The Extra Terrestrial,2600,1981.0,Action,Atari,1.84,0.11,0.0,0.02,1.97
15,1515,Adventure,2600,NaN,Adventure,Atari,1.21,0.08,0.0,0.01,1.30
17,1587,Combat,2600,NaN,Action,Atari,1.17,0.07,0.0,0.01,1.25
28,2234,Spider-Man,2600,1981.0,Action,Parker Bros.,0.87,0.05,0.0,0.01,0.93
...,...,...,...,...,...,...,...,...,...,...,...
16586,16225,Carmageddon: Max Damage,XOne,2016.0,Action,Stainless Games,0.01,0.01,0.0,0.00,0.01
16587,16237,Broken Sword 5: The Serpent's Curse,XOne,2015.0,Adventure,Revolution Software,0.00,0.01,0.0,0.00,0.01
16590,16451,Assassin's Creed Chronicles,XOne,2016.0,Action,Ubisoft,0.00,0.01,0.0,0.00,0.01
16591,16455,Rugby League Live 3,XOne,2015.0,Action,Tru Blu Entertainment,0.00,0.01,0.0,0.00,0.01
16594,16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.0,0.00,0.01

In [23]:
juegosAyA[["Plataforma","Rank","Genre"]].groupby(["Plataforma","Genre"]).count()

                      Rank
Plataforma Genre
2600       Action       61
           Adventure     2
3DO        Adventure     1
3DS        Action      182
           Adventure    37
DC         Action        3
           Adventure    11
DS         Action      343
           Adventure   240
GB         Action        6
           Adventure     5
GBA        Action      167
           Adventure    38
GC         Action      101
           Adventure    20
GEN        Action        3
           Adventure     2
N64        Action       38
           Adventure     4
NES        Action       13
           Adventure     1
PC         Action      165
           Adventure    65
PS         Action      157
           Adventure    69
PS2        Action      348
           Adventure   196
PS3        Action      380
           Adventure    74
PS4        Action      122
           Adventure    19
PSP        Action      222
           Adventure   213
PSV        Action      142
           Adventure    86
SAT        Action        3
           Adventure    26
SNES       Action       12
           Adventure     4
TG16       Adventure     1
Wii        Action      238
           Adventure    84
WiiU       Action       63
           Adventure     3
X360       Action      324
           Adventure    47
XB         Action      155
           Adventure    26
XOne       Action       68
           Adventure    12

In [ ]:
##CONTAR POR GRUPOS CUANTOS JUEGOS SON POR GENERO Y ANIO UNICAMENTE DE LOS DE LOS ANIOS DEL 2010 Y SUPERIORES

In [25]:
juegos2010= juegos[(juegos["Year"]>=2010.0)]
juegos2010

,Rank,Nombre,Plataforma,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
136,33,Pokemon X/Pokemon Y,3DS,2013.0,Role-Playing,Nintendo,5.17,4.05,4.34,0.79,14.35
137,43,Mario Kart 7,3DS,2011.0,Racing,Nintendo,4.74,3.91,2.67,0.89,12.21
138,50,Pokemon Omega Ruby/Pokemon Alpha Sapphire,3DS,2014.0,Role-Playing,Nintendo,4.23,3.37,3.08,0.65,11.33
139,54,Super Mario 3D Land,3DS,2011.0,Platform,Nintendo,4.89,2.99,2.13,0.78,10.79
140,65,New Super Mario Bros. 2,3DS,2012.0,Platform,Nintendo,3.66,3.07,2.47,0.63,9.82
...,...,...,...,...,...,...,...,...,...,...,...
16593,16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.00,0.00,0.01
16594,16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.00,0.00,0.01
16595,16565,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16596,16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16597,16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [37]:
juegos2010[["Genre","Year","Rank"]].groupby(["Genre","Year"]).count()

                 Rank
Genre    Year
Action   2010.0   226
         2011.0   239
         2012.0   266
         2013.0   148
         2014.0   186
...               ...
Strategy 2012.0    15
         2013.0    19
         2014.0     8
         2015.0    17
         2016.0    10

[86 rows x 1 columns]

In [50]:
##USAR LA FUNCION SUM SOBRE LAS VENTAS GLOBALES

##AGRUPAR Y SUMAR LAS VENTAS GLOBALES POR GENERO

juegos[["Genre","Global_Sales"]].groupby(["Genre"])["Global_Sales"].sum()

Genre
Action          1751.18
Adventure        239.04
Fighting         448.91
Misc             809.96
Platform         831.37
Puzzle           244.95
Racing           732.04
Role-Playing     927.37
Shooter         1037.37
Simulation       392.20
Sports          1330.93
Strategy         175.12
Name: Global_Sales, dtype: float64